@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');

a {
  color: #0000ff;
  text-underline-offset: 3px;
}

a:visited {
  color: #0000ff;
}

h2 {
  font-family: 'Yrsa', serif;
  font-size: 380%;
  display: inline;
}

.salut {
  color: #fc8003;
}

div {
  max-width: 600px;
}

body {
  padding: 5%;
}

p, ul, ol, dl {
  font-family: 'Chivo Mono', monospace;
  font-size: 115%;
  line-height: 0.84;
}

img {
  max-width: 90%;
}

@media print, screen and (max-width: 960px) {
  
  div {
    width: auto;
    margin: 0;
  }
    
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }
  
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
