#header {
  color: black;
  font-size: 250%;
  text-align: center;
}

#tagline {
font-size: 100%;
}

#prose {
  font-size: 100%;
}

#callToAction {
  font-size: 100%;
  font-weight: bold;
}

@media (min-width:720px) {

#header {
  font-size: 400%;
  }

#tagline {
  font-size: 125%;
}

#callToAction {
  font-size: 125%;
  font-weight: bold;
}

#prose {
  font-size: 125%;
}

}

img {
  max-width:100%;
}

body
{
  text-align: center;
  font-family: sans-serif;
  max-width: 800px ;
  margin-left: 10% ;
  margin-right: 10% ;
}

.circular {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 350px;
  height: 350px;
  border-radius: 150px;
  -webkit-border-radius: 175px;
  -moz-border-radius: 175px;
  background: url(me.png) no-repeat;
}

#mug {
  margin-left: auto ;
  margin-right: auto ;
}

a {
  text-decoration: none;
  color: #669966;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 5px 0 10px; padding: 0;
}

li {
  list-style:none; padding: 5px 0;
}

p.space {
  line-height: 140%;
}