@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* Derived from orderedlist's Minimalist template CSS. Refactored to the point where it's barebones. */

a {
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 64px;
  font-weight: normal;
  display: inline;
  margin: 0 0 10px;
  line-height: 1.1;
}

.salut {
  color: #fcbe03;
}

body {
  padding: 160px;
  color: #2f2f2f;
}

p, ul, ol, dl {
  margin: 0 0 10px;
  font-family: 'Heebo', sans-serif;
  font-size: 100%;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  width: 400px;
  float: left;
  position: fixed;
}

section {
  width: 400px;
  float: right;
  padding-bottom: 5px;
}

small {
  font-size: 11px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width: auto;
    margin: 0;
  }
  
  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }
  
  header {
    padding-right: 320px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }
  
  header {
    padding: 0;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
  
  header ul {
    display: none;
    width: 99%;
  }
    
  header li, header ul li + li + li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
