@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Derived from orderedlist's CSS as part of the Minimalist template. Refactored this to the point where it's barebones. */

h1 {
  font-family:'Alfa Slab One';
  font-size:54px;
  font-weight:normal;
  display:inline;
  margin:0 0 10px;
  line-height:1.1;
}

.salut {
  color:#fcbe03;
}

body {
  padding:160px;
  color:#2f2f2f;
  /* font-weight:300; */
}

p, ul, ol, dl {
  margin:0 0 10px;
  font:14px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wrapper {
  width:800px;
  margin:0 auto;
}

img {
  max-width:100%;
}

header {
  width:400px;
  float:left;
  position:fixed;
}

section {
  width:400px;
  float:right;
  padding-bottom:5px;
}

small {
  font-size:11px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
    width:99%;
  }
    
  header li, header ul li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}